.button{
    width: 324px;
    height: 324px;
    background-color: yellow;
    margin-left: 324px;
    margin-top: 324px;
    transition: all 0.3s ease-in-out;
}

.button:hover{
    transform: rotate(360deg);
}